/* ==========================================================================
   Google Map
   ========================================================================== */
html,
body {
	.element-google-map {
		.acf-map {
			width: 100%;
			min-height: 400px;
			border: 1px solid lighten($accent-color-10, 60%);
			box-shadow: 0 0 10px lighten($accent-color-10, 50%);
			margin: 15px 0;
		}
	}
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
   // Extra small devices (portrait phones, less than 34em)
   // No media query since this is the default in Bootstrap

   // Small devices (landscape phones, 34em and up)

   // @include media-breakpoint-up(xs) { ... }
   // @include media-breakpoint-up(sm) { ... }
   // @include media-breakpoint-up(md) { ... }
   // @include media-breakpoint-up(lg) { ... }
   // @include media-breakpoint-up(xl) { ... }

   // OR

   // @include media-breakpoint-down(xs) { ... }
   // @include media-breakpoint-down(sm) { ... }
   // @include media-breakpoint-down(md) { ... }
   // @include media-breakpoint-down(lg) { ... }
   // @include media-breakpoint-down(xl) { ... }

@include media-breakpoint-up(sm) {
	html,
	body {
	}
}

@include media-breakpoint-up(md) {
	html,
	body {}
}

@include media-breakpoint-up(lg) {
	html,
	body {}
}

@include media-breakpoint-up(xl) {
	html,
	body {}
}





@media print {
	html,
	body {}
}
