// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  margin: ($spacer / 2) auto;
  height: auto;
}
.alignleft,
.alignright {
  margin-bottom: ($spacer / 2);
  height: auto;
}
@include media-breakpoint-up(sm) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: ($spacer / 2);
  }
  .alignright {
    float: right;
    margin-left: ($spacer / 2);
  }
}

// Captions
.wp-caption {
  @extend .thumbnail;
}
.wp-caption-text {
  padding: $thumbnail-padding;
}

// Text meant only for screen readers
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
   // Extra small devices (portrait phones, less than 34em)
   // No media query since this is the default in Bootstrap

   // Small devices (landscape phones, 34em and up)

   // @include media-breakpoint-up(xs) { ... }
   // @include media-breakpoint-up(sm) { ... }
   // @include media-breakpoint-up(md) { ... }
   // @include media-breakpoint-up(lg) { ... }
   // @include media-breakpoint-up(xl) { ... }

   // OR

   // @include media-breakpoint-down(xs) { ... }
   // @include media-breakpoint-down(sm) { ... }
   // @include media-breakpoint-down(md) { ... }
   // @include media-breakpoint-down(lg) { ... }
   // @include media-breakpoint-down(xl) { ... }

@include media-breakpoint-up(sm) {
	html,
	body {
	}
}

@include media-breakpoint-up(md) {
	html,
	body {}
}

@include media-breakpoint-up(lg) {
	html,
	body {}
}

@include media-breakpoint-up(xl) {
	html,
	body {}
}





@media print {
	html,
	body {}
}
