/* ==========================================================================
   colors http://flatuicolors.com/
   ========================================================================== */
// hex to rgba
@mixin rgbaColorIn($color, $opacity : 1) {
  $result: rgba( red($color), green($color), blue($color), $opacity ) !global;
}


@mixin color-lightness($passed_color) {
	$base_color				  : 	$accent-color-8; 					// White
	$target_color			  : 	$passed_color;
	$color_calc				  : 	( lightness($base_color) - lightness($target_color) );
	color-white-calc		:	lightness($base_color);
	color-target-calc		:	lightness($target_color);
	color-calc				  : 	$color_calc; 							// Where 0 is the darkest and 100 the lightest


	@while $color_calc > 55 {
		$value				    : 	'bigger';
		color-calc			  : 	#{"value"};
	}

	@while $color_calc < 55 {
		$value				    : 	'smaller';
		color-calc			  : 	#{"value"};
	}

}


$cloud9-orange				:	rgb(254, 149, 47);	// Our brand colour

// Base colours

$accent-color-1				:	rgb(235, 74, 31);	  // Pomeganate
$accent-color-2				:	rgb(26, 188, 156);	// Turquoise
$accent-color-3				:	rgb(52, 152, 219); 	// Peter River (Blue)
$accent-color-4				:	rgb(231, 76, 60); 	// Alizarin (Red)
$accent-color-5				:	rgb(108, 209, 75); 	// Emerald
$accent-color-6				:	rgb(241, 196, 15); 	// Sun Flower
$accent-color-7				:	rgb(52, 73, 94);	  // Wet Asphalt
$accent-color-8				:	rgb(255, 255, 255);	// White
$accent-color-9				:	rgb(189, 195, 199);	// Silver
$accent-color-10			:	rgb(68, 68, 68);	  // Grey
$accent-color-11			:	$accent-color-1;	  // For legacy use


// Added colours

$accent-color-12			:	rgb(244, 156, 0);	  // Pumpkin (Orange)
$accent-color-13			:	rgb(34, 146, 220); 	// Peter River (Blue)
$accent-color-14			:	rgb(179, 204, 92); 	// Dollar Bill (Green)
$accent-color-15			:	rgb(51, 51, 51); 	  // Very Dark Gray (Grey)
$accent-color-16			:	rgb(236, 240, 241);	// Clouds


// Brand colurs

$brand-color-1				:	rgb(255, 153, 51);	// Client brand colour - Orange
$brand-color-2				:	rgb(59, 52, 44);	  // Client brand colour - Brown
$brand-color-3				:	rgb(110, 101, 86);	// Client brand colour - Light Brown

$brand-box-color-1		:	rgb(184, 177, 165);	// Footer Box 1
$brand-box-color-2		:	rgb(210, 197, 163);	// Footer Box 2
$brand-box-color-3		:	rgb(93, 81, 72);	  // Footer Box 3
$brand-box-color-4		:	$brand-color-1;		  // Footer Box 4


$brand-color				  :	$brand-color-1;		  // For legacy use


// Bootstrap Colours
$boot-color-primary		:   darken(#428bca, 6.5%); // #337ab7
$boot-color-success		:   #5cb85c;
$boot-color-info			:   #5bc0de;
$boot-color-warning		:   #f0ad4e;
$boot-color-danger		: 	#d9534f;


// Main social media colours

$sm-color-facebook		:	rgb(59, 89, 152);	  // Facebook Blue
$sm-color-twitter			:	rgb(0, 172, 237);	  // Twitter Blue
$sm-color-googleplus	:	rgb(221, 75, 57);	  // Google+ Red
$sm-color-youtube			:	rgb(187, 0, 0);		  // YouTube Red
$sm-color-linkedin		:	rgb(0, 123, 182);	  // LinkedIn+ Blue
$sm-color-instagram		:	rgb(81, 127, 164);	// Instagram Blue
$sm-color-pinterest		:	rgb(203, 32, 39);	  // Pinterest Red
$sm-color-vine				:	rgb(0, 191, 143);	  // Vine Green
$sm-color-snapchat		:	rgb(255, 252, 0);	  // Snapchat Yellow
$sm-color-flickr			:	rgb(255, 0, 132);	  // Flickr Pink
$sm-color-tumblr			:	rgb(50, 80, 109);	  // Tumblr Dark Turquoise
$sm-color-vimeo				:	rgb(170, 212, 80);	// Vimeo Green
$sm-color-foursquare	:	rgb(0, 114, 177);	  // Foursquare Logo Blue


// Other social media & brand colours

$sm-color-4ormat			      : 	#fb0a2a;
$sm-color-500px				      : 	#00aeef;
$sm-color-about-me		      : 	#00405d;
$sm-color-about-me-2	      : 	#062f3c;
$sm-color-about-me-3	      : 	#2b82ad;
$sm-color-about-me-4	      : 	#cc7a00;
$sm-color-about-me-5	      : 	#ffcc33;
$sm-color-addvocate		      : 	#ff3322;
$sm-color-adobe				      : 	#ff0000;
$sm-color-adobe-2			      : 	#fbb034;
$sm-color-adobe-3			      : 	#ffdd00;
$sm-color-adobe-4			      : 	#c1d82f;
$sm-color-adobe-5			      : 	#00a4e4;
$sm-color-adobe-6			      : 	#8a7967;
$sm-color-adobe-7			      : 	#6a737b;
$sm-color-aim				        : 	#ffd900;
$sm-color-amazon			      : 	#ff9900;
$sm-color-amazon-2		      : 	#146eb4;
$sm-color-android			      : 	#a4c639;
$sm-color-angie-s-list	    : 	#7fbb00;
$sm-color-aol				        : 	#ff0b00;
$sm-color-aol-2				      : 	#00c4ff;
$sm-color-apple				      :	  #B2B7BB;
$sm-color-asana				      : 	#1f8dd6;
$sm-color-asana-2			      : 	#34ad00;
$sm-color-atlassian			    : 	#003366;
$sm-color-bebo				      :	  #F10600;
$sm-color-behance			      : 	#1769ff;
$sm-color-big-cartel		    : 	#a0ac48;
$sm-color-big-cartel-2		  : 	#70b29c;
$sm-color-bitly				      : 	#ee6123;
$sm-color-bitly-2			      : 	#61b3de;
$sm-color-blogger			      : 	#f57d00;
$sm-color-boeing			      : 	#0039a6;
$sm-color-booking-com		    : 	#003580;
$sm-color-carbonmade		    : 	#613854;
$sm-color-cheddar			      : 	#ff7243;
$sm-color-chimein			      :	  #8CC72E;
$sm-color-coca-cola			    : 	#ed1c16;
$sm-color-code-school		    : 	#616f67;
$sm-color-code-school-2		  : 	#c68143;
$sm-color-creative-market	  : 	#8ba753;
$sm-color-dailmotion		    :	  #00689E;
$sm-color-delicious			    : 	#3399ff;
$sm-color-delicious-2		    : 	#222222;
$sm-color-delicious-3		    : 	#eeeeee;
$sm-color-dell				      : 	#0085c3;
$sm-color-dell-2			      : 	#7ab800;
$sm-color-dell-3			      : 	#f2af00;
$sm-color-dell-4			      : 	#dc5034;
$sm-color-dell-5			      : 	#ce1126;
$sm-color-dell-6			      : 	#b7295a;
$sm-color-dell-7			      : 	#6e2585;
$sm-color-dell-8			      : 	#71c6c1;
$sm-color-dell-9			      : 	#5482ab;
$sm-color-dell-10			      : 	#009bbb;
$sm-color-dell-11			      : 	#444444;
$sm-color-dell-12			      : 	#eeeeee;
$sm-color-designmoo			    : 	#e64b50;
$sm-color-designmoo-2		    : 	#dbc65d;
$sm-color-deviantart		    : 	#4e6252;
$sm-color-designer-news		  : 	#2d72d9;
$sm-color-devour			      : 	#ff0000;
$sm-color-dewalt			      : 	#febd17;
$sm-color-disqus			      : 	#2e9fff;
$sm-color-dribbble			    : 	#444444;
$sm-color-dribbble-2		    : 	#ea4c89;
$sm-color-dribbble-3		    : 	#8aba56;
$sm-color-dribbble-4		    : 	#ff8833;
$sm-color-dribbble-5		    : 	#00b6e3;
$sm-color-dribbble-6		    : 	#9ba5a8;
$sm-color-dropbox			      : 	#007ee5;
$sm-color-dropbox-2			    : 	#7b8994;
$sm-color-dropbox-3			    : 	#47525d;
$sm-color-dropbox-4			    : 	#3d464d;
$sm-color-drupal			      : 	#0077c0;
$sm-color-drupal-2			    : 	#81ceff;
$sm-color-drupal-3			    : 	#00598e;
$sm-color-dunked			      : 	#2f3238;
$sm-color-dunked-2			    : 	#3fc380;
$sm-color-ebay				      : 	#e53238;
$sm-color-ebay-2			      : 	#0064d2;
$sm-color-ebay-3			      : 	#f5af02;
$sm-color-ebay-4			      : 	#86b817;
$sm-color-engadget			    : 	#40b3ff;
$sm-color-envato			      : 	#82b541;
$sm-color-etsy				      : 	#d5641c;
$sm-color-evernote			    : 	#7ac142;
$sm-color-evernote-2		    : 	#808084;
$sm-color-fab-com			      : 	#dd0017;
$sm-color-fab-com-2			    : 	#000;
$sm-color-facebook			    : 	#3b5998;
$sm-color-feedburner		    : 	#FFC300;
$sm-color-firefox			      : 	#e66000;
$sm-color-firefox-2			    : 	#ff9500;
$sm-color-firefox-3			    : 	#ffcb00;
$sm-color-firefox-4			    : 	#00539f;
$sm-color-firefox-5			    : 	#0095dd;
$sm-color-firefox-6			    : 	#331e54;
$sm-color-firefox-7			    : 	#002147;
$sm-color-flickr			      : 	#0063dc;
$sm-color-flickr-2			    : 	#ff0084;
$sm-color-forrst			      : 	#5b9a68;
$sm-color-foursquare		    : 	#0072b1;
$sm-color-foursquare-2		  : 	#eeebac;
$sm-color-foursquare-3		  : 	#0cbadf;
$sm-color-foursquare-4		  : 	#8fd400;
$sm-color-foursquare-5		  : 	#ff7900;
$sm-color-foursquare-6		  : 	#ffcb00;
$sm-color-foursquare-7		  : 	#d1d4d3;
$sm-color-friendfeed		    :	  #92B3DF;
$sm-color-garmin			      : 	#007cc3;
$sm-color-tvtag				      : 	#f24e4e;
$sm-color-gimmebar			    : 	#d6156c;
$sm-color-github			      : 	#4183c4;
$sm-color-github-2			    : 	#999;
$sm-color-github-3			    : 	#666;
$sm-color-github-4			    : 	#333;
$sm-color-github-5			    : 	#6cc644;
$sm-color-github-6			    : 	#bd2c00;
$sm-color-github-7			    : 	#f93;
$sm-color-google			      : 	#4285f4;
$sm-color-google-2			    : 	#db4437;
$sm-color-google-3			    : 	#f4b400;
$sm-color-google-4			    : 	#0f9d58;
$sm-color-google-5			    : 	#e7e6dd;
$sm-color-google			      : 	#dd4b39;
$sm-color-grooveshark		    : 	#f86f09;
$sm-color-grooveshark-2		  : 	#000;
$sm-color-groupon			      : 	#82b548;
$sm-color-hacker-news		    : 	#ff6600;
$sm-color-hellowallet		    : 	#0093d0;
$sm-color-heroku			      : 	#c9c3e6;
$sm-color-heroku-2			    : 	#6762a6;
$sm-color-houzz				      : 	#7ac142;
$sm-color-houzz-2			      : 	#000000;
$sm-color-hp				        : 	#0096d6;
$sm-color-hp-2				      : 	#d7410b;
$sm-color-html5				      : 	#e34f26;
$sm-color-hulu				      : 	#a5cd39;
$sm-color-hulu-2			      : 	#6bb03e;
$sm-color-ibm				        : 	#006699;
$sm-color-ikea				      : 	#ffcc00;
$sm-color-ikea-2			      : 	#003399;
$sm-color-imdb				      : 	#f5de50;
$sm-color-instagram			    : 	#3f729b;
$sm-color-instapaper		    : 	#000;
$sm-color-instapaper-2		  : 	#428bca;
$sm-color-intel				      : 	#0071c5;
$sm-color-intuit			      : 	#365ebf;
$sm-color-kickstarter		    : 	#2bde73;
$sm-color-kickstarter-2		  : 	#0f2105;
$sm-color-kippt				      : 	#d51007;
$sm-color-lastfm			      : 	#c3000d;
$sm-color-linkedin			    : 	#0976b4;
$sm-color-linkedin-2		    : 	#000;
$sm-color-livestream		    : 	#cf202e;
$sm-color-livestream-2		  : 	#232121;
$sm-color-livestream-3		  : 	#f78822;
$sm-color-livestream-4		  : 	#f6db35;
$sm-color-livestream-5		  : 	#6dc067;
$sm-color-livestream-6		  : 	#4185be;
$sm-color-livestream-7		  : 	#8f499c;
$sm-color-lumo				      : 	#576396;
$sm-color-mixpanel			    : 	#a086d3;
$sm-color-meetup			      : 	#e0393e;
$sm-color-myspace			      :	  #002E9C;
$sm-color-netflix			      : 	#b9090b;
$sm-color-newsvine			    :	  #1B7436;
$sm-color-nokia				      : 	#124191;
$sm-color-nvidia			      : 	#76b900;
$sm-color-odnoklassniki		  : 	#ed812b;
$sm-color-opera				      : 	#cc0f16;
$sm-color-opera-2			      : 	#9c9e9f;
$sm-color-path				      : 	#ee3423;
$sm-color-paypal			      : 	#253b80;
$sm-color-paypal-2			    : 	#179bd7;
$sm-color-pinboard			    : 	#0000e6;
$sm-color-pinterest			    : 	#cc2127;
$sm-color-playstation		    : 	#003087;
$sm-color-pocket			      : 	#d3505a;
$sm-color-pocket-2			    : 	#478f8f;
$sm-color-prezi				      : 	#318bff;
$sm-color-quora				      : 	#a82400;
$sm-color-quote-fm			    : 	#66ceff;
$sm-color-rdio				      : 	#007dc3;
$sm-color-readability		    : 	#900;
$sm-color-red-hat			      : 	#cc0000;
$sm-color-reddit			      : 	#ff4500;
$sm-color-reddit-2			    : 	#5f99cf;
$sm-color-reddit-3			    : 	#cee3f8;
$sm-color-rockpack			    : 	#0ba6ab;
$sm-color-roon				      : 	#62b0d9;
$sm-color-rss				        : 	#f26522;
$sm-color-salesforce		    : 	#1798c1;
$sm-color-salesforce-2		  : 	#ff1100;
$sm-color-samsung			      : 	#1428a0;
$sm-color-samsung-2			    : 	#75787b;
$sm-color-samsung-3			    : 	#0689d8;
$sm-color-samsung-4			    : 	#ffc600;
$sm-color-samsung-5			    : 	#ff6900;
$sm-color-samsung-6			    : 	#e4002b;
$sm-color-samsung-7			    : 	#c800a1;
$sm-color-samsung-8			    : 	#685bc7;
$sm-color-samsung-9			    : 	#0057b8;
$sm-color-samsung-10		    : 	#00a9e0;
$sm-color-samsung-11		    : 	#009ca6;
$sm-color-samsung-12		    : 	#00b140;
$sm-color-shopify			      : 	#96bf48;
$sm-color-shopify-2			    : 	#479ccf;
$sm-color-shopify-3			    : 	#2d3538;
$sm-color-shopify-4			    : 	#f5f5f5;
$sm-color-shopify-5			    : 	#f2f7fa;
$sm-color-shopify-6			    : 	#666666;
$sm-color-skype				      : 	#00aff0;
$sm-color-smashing-mag		  : 	#e53b2c;
$sm-color-smashing-mag-2	  : 	#41b7d8;
$sm-color-snagajob			    : 	#f47a20;
$sm-color-softonic			    : 	#008ace;
$sm-color-soundcloud		    : 	#f80;
$sm-color-soundcloud-2		  : 	#f30;
$sm-color-spotify			      : 	#7ab800;
$sm-color-sprint			      : 	#ffe100;
$sm-color-squarespace		    : 	#222;
$sm-color-stackoverflow		  : 	#fe7a15;
$sm-color-staples			      : 	#cc0000;
$sm-color-staples-2			    : 	#2c8aec;
$sm-color-staples-3			    : 	#ffcc00;
$sm-color-status-chart		  : 	#d7584f;
$sm-color-stripe			      : 	#00afe1;
$sm-color-studyblue			    : 	#00afe1;
$sm-color-stumbleupon		    : 	#eb4924;
$sm-color-t-mobile			    : 	#e20074;
$sm-color-technorati		    : 	#390;
$sm-color-the-next-web		  : 	#ff3c1f;
$sm-color-the-next-web-2	  : 	#26313b;
$sm-color-the-next-web-3	  : 	#4e5860;
$sm-color-the-next-web-4	  : 	#a6abaf;
$sm-color-the-next-web-5	  : 	#d9e0e2;
$sm-color-the-next-web-6	  : 	#fafbfc;
$sm-color-treehouse			    : 	#6fbc6d;
$sm-color-treehouse-2		    : 	#47535b;
$sm-color-trello			      : 	#256a92;
$sm-color-trulia			      : 	#5eab1f;
$sm-color-tumblr			      : 	#35465c;
$sm-color-twitch-tv			    : 	#6441a5;
$sm-color-twitter			      : 	#55acee;
$sm-color-twitter-2			    : 	#292f33;
$sm-color-twitter-3			    : 	#66757f;
$sm-color-twitter-4			    : 	#8899a6;
$sm-color-twitter-5			    : 	#ccd6dd;
$sm-color-twitter-6			    : 	#e1e8ed;
$sm-color-twitter-7			    : 	#f5f8fa;
$sm-color-typekit			      : 	#98ce1e;
$sm-color-ubuntu			      : 	#dd4814;
$sm-color-ubuntu-2			    : 	#77216f;
$sm-color-ubuntu-3			    : 	#5e2750;
$sm-color-ubuntu-4			    : 	#2c001e;
$sm-color-ubuntu-5			    : 	#aea79f;
$sm-color-ubuntu-6			    : 	#333333;
$sm-color-ustream			      : 	#3388ff;
$sm-color-verizon			      : 	#f00;
$sm-color-verizon-2			    : 	#f2f2f2;
$sm-color-verizon-3			    : 	#3285dc;
$sm-color-viadeo			      :	  #F69910;
$sm-color-vimeo				      : 	#162221;
$sm-color-vimeo-2			      : 	#1ab7ea;
$sm-color-vine				      : 	#00b488;
$sm-color-virb				      : 	#1e91d0;
$sm-color-virgin-media		  : 	#c3092d;
$sm-color-virgin-media-2	  : 	#222221;
$sm-color-vkontakte			    : 	#45668e;
$sm-color-wikipedia			    :	  #DDDDDD;
$sm-color-wooga				      : 	#5b009c;
$sm-color-wordpress			    : 	#21759b;
$sm-color-wordpress-2		    : 	#d54e21;
$sm-color-wordpress-3		    : 	#464646;
$sm-color-wunderlist		    : 	#2b96f1;
$sm-color-xbox				      : 	#107c10;
$sm-color-xing				      : 	#026466;
$sm-color-xing-2			      : 	#cfdc00;
$sm-color-yahoo				      : 	#400191;
$sm-color-yandex			      : 	#ffcc00;
$sm-color-yelp				      : 	#af0606;
$sm-color-youtube			      : 	#e52d27;
$sm-color-youtube-2			    : 	#b31217;
$sm-color-youtube-3			    : 	#000;
$sm-color-zendesk			      : 	#78a300;
$sm-color-zendesk-2			    : 	#f1f1f1;
$sm-color-zendesk-3			    : 	#444;
$sm-color-zerply			      : 	#9dbc7a;
$sm-color-microsoft			    : 	#f65314;
$sm-color-microsoft-2		    : 	#7cbb00;
$sm-color-microsoft-3		    : 	#00a1f1;
$sm-color-microsoft-4		    : 	#ffbb00;
$sm-color-windows			      : 	#00bcf2;
$sm-color-microsoft-office	: 	#ea3e23;
$sm-color-windows-phone		  : 	#68217a;
$sm-color-bing				      : 	#ffb900;
$sm-color-kiwipay			      : 	#00b0df;
$sm-color-wordpress-com		  : 	#1e8cbe;
$sm-color-django			      : 	#092e20;
$sm-color-geocaching		    : 	#4a742c;
$sm-color-arch-linux		    : 	#1793d1;
$sm-color-arch-linux-2		  : 	#333333;
$sm-color-gittip			      : 	#663300;
$sm-color-gittip-2			    : 	#339966;
$sm-color-flattr			      : 	#f67c1a;
$sm-color-flattr-2			    : 	#338d11;
$sm-color-hsbc				      : 	#db0011;
$sm-color-zopim				      : 	#ff9d3b;
$sm-color-bitbucket			    : 	#205081;
$sm-color-strava			      : 	#fc4c02;
$sm-color-ghost				      : 	#212425;
$sm-color-ghost-2			      : 	#718087;
$sm-color-ghost-3			      : 	#5ba4e5;
$sm-color-ghost-4			      : 	#9fbb58;
$sm-color-ghost-5			      : 	#e9e8dd;
$sm-color-typo3				      : 	#ff8600;
$sm-color-univision			    : 	#c822b0;
$sm-color-motorola			    : 	#5c92fa;
$sm-color-godaddy			      : 	#7db701;
$sm-color-godaddy-2			    : 	#ff8a00;
$sm-color-espn				      : 	#f03;
$sm-color-reverbnation		  : 	#e43526;
$sm-color-pandora			      : 	#015486;
$sm-color-plasso			      : 	#6585ed;
$sm-color-plasso-2			    : 	#f5756c;
$sm-color-plasso-3			    : 	#98afc0;
$sm-color-plasso-4			    : 	#2f3148;
$sm-color-powerpoint		    : 	#f04e23;
$sm-color-outlook			      : 	#0072c6;
$sm-color-excel				      : 	#008641;
$sm-color-word				      : 	#0054a6;
$sm-color-onenote			      : 	#662d91;
$sm-color-onedrive			    : 	#094ab2;
$sm-color-slideshare		    : 	#e98325;
$sm-color-slideshare-2		  : 	#07a;
$sm-color-slideshare-3		  : 	#00a7a9;
$sm-color-klout				      : 	#e44600;
$sm-color-klout-2			      : 	#645357;
$sm-color-klout-3			      : 	#01b9ff;
$sm-color-digg				      : 	#000000;
$sm-color-taco-bell			    : 	#36399a;
$sm-color-taco-bell-2		    : 	#ed008c;
$sm-color-taco-bell-3		    : 	#fee012;
$sm-color-mcdonald-s		    : 	#ffc82d;
$sm-color-mcdonald-s-2		  : 	#d3222a;
$sm-color-burger-king		    : 	#fcbc10;
$sm-color-burger-king-2		  : 	#ed1c24;
$sm-color-burger-king-3		  : 	#0066b3;
$sm-color-pepsi				      : 	#05345c;
$sm-color-pepsi-2			      : 	#0085ca;
$sm-color-pepsi-3			      : 	#e8112d;
$sm-color-amd				        : 	#f00;
$sm-color-amd-2				      : 	#000;
$sm-color-dish				      : 	#ed1420;
$sm-color-flipkart-com		  : 	#005d93;
$sm-color-flipkart-com-2	  : 	#fcd200;
$sm-color-at-t				      : 	#ff7200;
$sm-color-at-t-2			      : 	#067ab4;
$sm-color-at-t-3			      : 	#b6bf00;
$sm-color-at-t-4			      : 	#6ebb1f;
$sm-color-at-t-5			      : 	#b30a3c;
$sm-color-at-t-6			      : 	#81017e;
$sm-color-at-t-7			      : 	#0c2577;
$sm-color-arm				        : 	#0084ab;
$sm-color-alibaba			      : 	#f60;
$sm-color-freshbooks		    : 	#0d83dd;
$sm-color-freshbooks-2		  : 	#86c620;
$sm-color-freshbooks-3		  : 	#648c0f;
$sm-color-freshbooks-4		  : 	#040505;
$sm-color-harvest			      : 	#f36c00;
$sm-color-harvest-2			    : 	#231f20;
$sm-color-wave-accounting	  : 	#72cac8;
$sm-color-wave-accounting-2	: 	#00929f;
$sm-color-xero				      : 	#00b7e3;
$sm-color-kashflow			    : 	#d6345f;
$sm-color-mailchimp			    : 	#2c9ab7;
$sm-color-mailchimp-2		    : 	#449a88;
$sm-color-mailchimp-3		    : 	#febe12;
$sm-color-mailchimp-4		    : 	#db3a1b;
$sm-color-mailchimp-5		    : 	#373737;
$sm-color-authorize-net		  : 	#2f5571;
$sm-color-campaign-monitor	: 	#19a9e5;
$sm-color-campaign-monitor-2: 	#72d0eb;
$sm-color-campaign-monitor-3: 	#7ebd26;
$sm-color-campaign-monitor-4: 	#b9dc2f;
$sm-color-constant-contact	: 	#17488a;
$sm-color-eventbrite		    : 	#ff8000;
$sm-color-wufoo				      : 	#c83a24;
$sm-color-hubspot			      : 	#4a5b67;
$sm-color-hubspot-2			    : 	#f7761f;
$sm-color-arduino			      : 	#00979d;
$sm-color-snapchat			    : 	#fffc00;
$sm-color-whatsapp			    : 	#34af23;
$sm-color-simple			      : 	#ec7962;
$sm-color-simple-2			    : 	#3d899a;
$sm-color-simple-3			    : 	#76a9b4;
$sm-color-mapbox			      : 	#3bb2d0;
$sm-color-laravel			      : 	#f87f73;
$sm-color-walmart			      : 	#fdbb30;
$sm-color-walmart-2			    : 	#1a75cf;
$sm-color-walmart-3			    : 	#003896;
$sm-color-walmart-4			    : 	#6cabe7;
$sm-color-broadcom			    : 	#e51937;
$sm-color-broadcom-2		    : 	#231f20;
$sm-color-tripadvisor		    : 	#589742;
$sm-color-tripadvisor-2		  : 	#231f20;
$sm-color-tripadvisor-3		  : 	#ec2028;
$sm-color-tripadvisor-4		  : 	#fedf9e;
$sm-color-magento			      : 	#ef672f;
$sm-color-sugarcrm			    : 	#e61718;
$sm-color-woothemes			    : 	#42a2ce;
$sm-color-woothemes-2		    : 	#255a8c;
$sm-color-woothemes-3		    : 	#71b02f;
$sm-color-woothemes-4		    : 	#a46497;
$sm-color-woocommerce		    : 	#a46497;
$sm-color-codepen			      : 	#76daff;
$sm-color-codepen-2			    : 	#a561cb;
$sm-color-codepen-3			    : 	#66ce5b;
$sm-color-codepen-4			    : 	#f7ec13;
$sm-color-codepen-5			    : 	#d75e5e;
$sm-color-discover			    : 	#f68121;
$sm-color-discover-2		    : 	#242021;
$sm-color-american-express	: 	#007bc1;
$sm-color-mastercard		    : 	#0a3a82;
$sm-color-mastercard-2		  : 	#ee2d24;
$sm-color-mastercard-3		  : 	#fbb134;
$sm-color-visa				      : 	#0157a2;
$sm-color-visa-2			      : 	#f6a41d;
$sm-color-vistaprint		    : 	#00539f;
$sm-color-vistaprint-2		  : 	#ffe513;
$sm-color-vistaprint-3		  : 	#ee4498;
$sm-color-vistaprint-4		  : 	#2c99da;
$sm-color-radioshack		    : 	#f06548;
$sm-color-mixpanel			    : 	#00a9d2;
$sm-color-mixpanel-2		    : 	#ee8460;
$sm-color-mixpanel-3		    : 	#ebbb62;
$sm-color-mixpanel-4		    : 	#00c7b2;
$sm-color-mixpanel-5		    : 	#c271b0;
$sm-color-basecamp			    : 	#66cc66;
$sm-color-basecamp-2		    : 	#17ad49;
$sm-color-basecamp-3		    : 	#b6deff;
$sm-color-basecamp-4		    : 	#000;
$sm-color-podio				      : 	#3376a4;
$sm-color-whatsapp			    : 	#34af23;
$sm-color-whatsapp-2		    : 	#64d448;
$sm-color-beats				      : 	#f00;
$sm-color-blizzard			    : 	#01b2f1;
$sm-color-desk-com			    : 	#674397;
$sm-color-desk-com-2		    : 	#435f98;
$sm-color-desk-com-3		    : 	#08b087;
$sm-color-desk-com-4		    : 	#a58559;
$sm-color-desk-com-5		    : 	#f0f0ed;
$sm-color-desk-com-6		    : 	#121214;
$sm-color-easyjet			      : 	#f60;
$sm-color-gopro				      : 	#00aeef;
$sm-color-gopro-2			      : 	#005dac;
$sm-color-cisco				      : 	#15495d;
$sm-color-cisco-2			      : 	#c4122e;
$sm-color-mozilla			      : 	#c13832;
$sm-color-mozilla-2			    : 	#d7d3c8;
$sm-color-mozilla-3			    : 	#4d4e53;
$sm-color-thunderbird		    : 	#00539f;
$sm-color-thunderbird-2		  : 	#0095dd;
$sm-color-thunderbird-3		  : 	#f5efe6;
$sm-color-shazam			      : 	#1b87e3;
$sm-color-toyota			      : 	#d92027;
$sm-color-zte				        : 	#0a50a0;
$sm-color-zte-2				      : 	#1ba5e1;
$sm-color-xiaomi			      : 	#ff4a00;
$sm-color-vsco				      : 	#211e1e;
$sm-color-vsco-2			      : 	#a8a749;
$sm-color-uber				      : 	#1fbad6;
$sm-color-snapchat			    : 	#fffc00;
$sm-color-rovio				      : 	#c02227;
$sm-color-nintendo			    : 	#8c8c8c;
$sm-color-line				      : 	#1dcd00;
$sm-color-lg				        : 	#c40950;
$sm-color-lg-2				      : 	#6d6e72;
$sm-color-htc				        : 	#69b40f;
$sm-color-airbnb			      : 	#ff5a5f;
$sm-color-brandfolder		    : 	#40d1f5;
$sm-color-brandfolder-2		  : 	#3bc7eb;
$sm-color-brandfolder-3		  : 	#2ba2d6;
$sm-color-brandfolder-4		  : 	#252c2f;
$sm-color-brandfolder-5		  : 	#00ee88;
$sm-color-brandfolder-6		  : 	#333333;
$sm-color-brandfolder-7		  : 	#384650;
$sm-color-brandfolder-8		  : 	#fa3e26;
$sm-color-brandfolder-9		  : 	#eff056;
$sm-color-brandfolder-10	  : 	#dde2e6;
$sm-color-brandfolder-11	  : 	#f6f8f9;
$sm-color-foxconn			      : 	#0165b0;
$sm-color-huawei			      : 	#d62d24;
$sm-color-qualcomm			    : 	#005daa;
$sm-color-softbank			    : 	#fbbd09;
$sm-color-ge				        : 	#019ddd;
$sm-color-vodafone			    : 	#e60000;
$sm-color-acer				      : 	#83b81a;
$sm-color-china-monile		  : 	#1d64b8;
$sm-color-corning			      : 	#069;
$sm-color-ntt-docomo		    : 	#c03;
$sm-color-starbucks			    : 	#00704a;
$sm-color-expedia			      : 	#003050;
$sm-color-expedia-2			    : 	#ffcb00;
$sm-color-buzzfeed			    : 	#ee3322;
$sm-color-box				        : 	#00aeef;
$sm-color-hart				      : 	#f23f3f;
$sm-color-hart-2			      : 	#ff7f3b;
$sm-color-hart-3			      : 	#f2c83f;
$sm-color-hart-4			      : 	#3ac95c;
$sm-color-hart-5			      : 	#3bbdca;
$sm-color-hart-6			      : 	#4a95ff;
$sm-color-hart-7			      : 	#ac59ff;
$sm-color-hart-8			      : 	#ff8aed;
$sm-color-mamp				      : 	#646464;
$sm-color-mamp-2			      : 	#177ab1;
$sm-color-thumbtack			    : 	#f47503;
$sm-color-feedly			      : 	#6cc655;
$sm-color-tinder			      : 	#ff7258;
$sm-color-internet-explorer	: 	#0cf;
$sm-color-chrome			      : 	#f06b59;
$sm-color-chrome-2			    : 	#df2227;
$sm-color-chrome-3			    : 	#4cb749;
$sm-color-chrome-4			    : 	#388b41;
$sm-color-chrome-5			    : 	#fcd209;
$sm-color-chrome-6			    : 	#f7c616;
$sm-color-chrome-7			    : 	#7fb3df;
$sm-color-chrome-8			    : 	#0f5b94;
$sm-color-royal-mail		    : 	#f00;
$sm-color-royal-mail-2		  : 	#ff0;
$sm-color-royal-mail-3		  : 	#000;
$sm-color-hootsuite			    : 	#000000;
$sm-color-hootsuite-2		    : 	#00aeef;
$sm-color-hootsuite-3		    : 	#8dc63f;
$sm-color-hootsuite-4		    : 	#ff9100;
