/* ==========================================================================
   Sidebar
   ========================================================================== */

html,
body {
	aside {
		&.sidebar {
			background: $brand-color-3;
		}
	}
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
   // Extra small devices (portrait phones, less than 34em)
   // No media query since this is the default in Bootstrap

   // Small devices (landscape phones, 34em and up)

   // @include media-breakpoint-up(xs) { ... }
   // @include media-breakpoint-up(sm) { ... }
   // @include media-breakpoint-up(md) { ... }
   // @include media-breakpoint-up(lg) { ... }
   // @include media-breakpoint-up(xl) { ... }

   // OR

   // @include media-breakpoint-down(xs) { ... }
   // @include media-breakpoint-down(sm) { ... }
   // @include media-breakpoint-down(md) { ... }
   // @include media-breakpoint-down(lg) { ... }
   // @include media-breakpoint-down(xl) { ... }

@include media-breakpoint-up(sm) {
  html,
	body {
		aside {
			&.sidebar {
				clear: both;
			    width: 345px;
			    margin-left: 15px;
			    display: inline-block;
			}
		}
	}
}

@include media-breakpoint-up(md) {
	html,
	body {}
}

@include media-breakpoint-up(lg) {
	html,
	body {}
}

@include media-breakpoint-up(xl) {
  html,
	body {
		aside {
			&.sidebar {
				margin-left: -15px;
			}
		}
	}
}





@media print {
	html,
	body {}
}
